USE [sys_sodexo]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_RepSunrise]    Script Date: 06/24/2015 14:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_RepSunrise](
		@entFechaIni		DATETIME,		    --Fecha Inicio 
		@entFechaFin		DATETIME,		    --Fecha Final 
		@entCC				VARCHAR(50),		--Centro de costo
		@entCat1			VARCHAR(50),		--41 INGRESOS OPERACIONALES
		@entCat2			VARCHAR(50),		--71 COSTO DE VENTAS Y SERVICIOS
		@entCat3			VARCHAR(50),		--72 MANO DE OBRA DIRECTA
		@entCat4			VARCHAR(50),		--73 COSTOS INDIRECTOS
		@entCat5			VARCHAR(50)		    --731601 DEPRECIACIONES
)RETURNS @varTRetorno TABLE (
	CODIGO		    VARCHAR(50),
	DESCRIPCION		VARCHAR(50),
	MONTO1			DECIMAL(25,2),
	MONTO2			DECIMAL(25,2),
	MONTO3			DECIMAL(25,2),
	MONTO4			DECIMAL(25,2),
	MONTO5			DECIMAL(25,2)
)
AS
BEGIN

	-- INSERTO LOS CENTROS DE COSTO
	INSERT INTO @varTRetorno
	
	SELECT CCOS_CODIGO, CCOS_DESCRIPCION,0,0,0,0,0 
	FROM con_ccostos
	WHERE CCOS_CODIGO LIKE @entCC
		
	-- DECLARO VARIABLE MONTOTEMP
		DECLARE @varMonto TABLE
	(	
		CC		    VARCHAR(50),
		MONTOTEMP	DECIMAL(25,6)
	)

	-- INSERTO MONTO 1
	
	INSERT INTO @varMonto 
	SELECT 
			AD.CCOS_CODIGO,
			CASE WHEN(C.CAT_TIPOCUENTA='ACT' OR C.CAT_TIPOCUENTA='COS' OR C.CAT_TIPOCUENTA='GAS') 
			THEN SUM(AD.DET_MONTODL)-SUM(AD.DET_MONTOHL) 
			ELSE SUM(AD.DET_MONTOHL)-SUM(AD.DET_MONTODL) END AS MONTO
	FROM CON_ASIDETALLE AD 
			INNER JOIN CON_CATALOGO C ON AD.CAT_CODIGO=C.CAT_CODIGO AND C.CAT_CODIGO LIKE @entCat1  AND AD.CCOS_CODIGO LIKE @entCC
			INNER JOIN CON_CCOSTOS CC ON AD.CCOS_CODIGO=CC.CCOS_CODIGO
	WHERE AD.DET_FECHA BETWEEN @entFechaIni AND @entFechaFin  
	GROUP BY AD.CCOS_CODIGO, CC.CCOS_DESCRIPCION, C.CAT_TIPOCUENTA
	
	-- ACTUALIZO MONTO 
	
	UPDATE @varTRetorno SET MONTO1 = MONTOTEMP
	FROM @varMonto M
	INNER JOIN @varTRetorno RT ON M.CC = RT.CODIGO
	
	
		-- INSERTO MONTO 2
		
		DELETE FROM @varMonto
	
	INSERT INTO @varMonto 
	SELECT 
			AD.CCOS_CODIGO,
			CASE WHEN(C.CAT_TIPOCUENTA='ACT' OR C.CAT_TIPOCUENTA='COS' OR C.CAT_TIPOCUENTA='GAS') 
			THEN SUM(AD.DET_MONTODL)-SUM(AD.DET_MONTOHL) 
			ELSE SUM(AD.DET_MONTOHL)-SUM(AD.DET_MONTODL) END AS MONTO
	FROM CON_ASIDETALLE AD 
			INNER JOIN CON_CATALOGO C ON AD.CAT_CODIGO=C.CAT_CODIGO AND C.CAT_CODIGO LIKE @entCat2 AND AD.CCOS_CODIGO LIKE @entCC
			INNER JOIN CON_CCOSTOS CC ON AD.CCOS_CODIGO=CC.CCOS_CODIGO
	WHERE AD.DET_FECHA BETWEEN @entFechaIni AND @entFechaFin  
	GROUP BY AD.CCOS_CODIGO, CC.CCOS_DESCRIPCION, C.CAT_TIPOCUENTA
	
	-- ACTUALIZO MONTO 
	
	UPDATE @varTRetorno SET MONTO2 = MONTOTEMP
	FROM @varMonto M
	INNER JOIN @varTRetorno RT ON M.CC = RT.CODIGO
	
			-- INSERTO MONTO 3
		
		DELETE FROM @varMonto
	
	INSERT INTO @varMonto 
	SELECT 
			AD.CCOS_CODIGO,
			CASE WHEN(C.CAT_TIPOCUENTA='ACT' OR C.CAT_TIPOCUENTA='COS' OR C.CAT_TIPOCUENTA='GAS') 
			THEN SUM(AD.DET_MONTODL)-SUM(AD.DET_MONTOHL) 
			ELSE SUM(AD.DET_MONTOHL)-SUM(AD.DET_MONTODL) END AS MONTO
	FROM CON_ASIDETALLE AD 
			INNER JOIN CON_CATALOGO C ON AD.CAT_CODIGO=C.CAT_CODIGO AND C.CAT_CODIGO LIKE @entCat3  AND AD.CCOS_CODIGO LIKE @entCC
			INNER JOIN CON_CCOSTOS CC ON AD.CCOS_CODIGO=CC.CCOS_CODIGO
	WHERE AD.DET_FECHA BETWEEN @entFechaIni AND @entFechaFin  
	GROUP BY AD.CCOS_CODIGO, CC.CCOS_DESCRIPCION, C.CAT_TIPOCUENTA
	
	-- ACTUALIZO MONTO 
	
	UPDATE @varTRetorno SET MONTO3 = MONTOTEMP
	FROM @varMonto M
	INNER JOIN @varTRetorno RT ON M.CC = RT.CODIGO
	
			-- INSERTO MONTO 4
		
		DELETE FROM @varMonto
	
	INSERT INTO @varMonto 
	SELECT 
			AD.CCOS_CODIGO,
			CASE WHEN(C.CAT_TIPOCUENTA='ACT' OR C.CAT_TIPOCUENTA='COS' OR C.CAT_TIPOCUENTA='GAS') 
			THEN SUM(AD.DET_MONTODL)-SUM(AD.DET_MONTOHL) 
			ELSE SUM(AD.DET_MONTOHL)-SUM(AD.DET_MONTODL) END AS MONTO
	FROM CON_ASIDETALLE AD 
			INNER JOIN CON_CATALOGO C ON AD.CAT_CODIGO=C.CAT_CODIGO AND C.CAT_CODIGO LIKE @entCat4  AND AD.CCOS_CODIGO LIKE @entCC
			INNER JOIN CON_CCOSTOS CC ON AD.CCOS_CODIGO=CC.CCOS_CODIGO
	WHERE AD.DET_FECHA BETWEEN @entFechaIni AND @entFechaFin  
	GROUP BY AD.CCOS_CODIGO, CC.CCOS_DESCRIPCION, C.CAT_TIPOCUENTA
	
	-- ACTUALIZO MONTO 
	
	UPDATE @varTRetorno SET MONTO4 = MONTOTEMP
	FROM @varMonto M
	INNER JOIN @varTRetorno RT ON M.CC = RT.CODIGO
	

		-- INSERTO MONTO 5
		
		DELETE FROM @varMonto
	
	INSERT INTO @varMonto 
	SELECT 
			AD.CCOS_CODIGO,
			CASE WHEN(C.CAT_TIPOCUENTA='ACT' OR C.CAT_TIPOCUENTA='COS' OR C.CAT_TIPOCUENTA='GAS') 
			THEN SUM(AD.DET_MONTODL)-SUM(AD.DET_MONTOHL) 
			ELSE SUM(AD.DET_MONTOHL)-SUM(AD.DET_MONTODL) END AS MONTO
	FROM CON_ASIDETALLE AD 
			INNER JOIN CON_CATALOGO C ON AD.CAT_CODIGO=C.CAT_CODIGO AND C.CAT_CODIGO LIKE @entCat5  AND AD.CCOS_CODIGO LIKE @entCC
			INNER JOIN CON_CCOSTOS CC ON AD.CCOS_CODIGO=CC.CCOS_CODIGO
	WHERE AD.DET_FECHA BETWEEN @entFechaIni AND @entFechaFin  
	GROUP BY AD.CCOS_CODIGO, CC.CCOS_DESCRIPCION, C.CAT_TIPOCUENTA
	
	-- ACTUALIZO MONTO 
	
	UPDATE @varTRetorno SET MONTO5 = MONTOTEMP
	FROM @varMonto M
	INNER JOIN @varTRetorno RT ON M.CC = RT.CODIGO

	RETURN
END 



