USE [sys_sodexo]
GO
/****** Object:  UserDefinedFunction [dbo].[FUNC_UPASIENTOS]    Script Date: 06/24/2015 14:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FUNC_UPASIENTOS]
(
	-- PARAMETROS DE LA FUNCION
	@entTASChrCodigoTEMP VARCHAR(25), 
	@entASEChrFechaTEMP VARCHAR(25)
)
RETURNS VARCHAR(50)
AS
BEGIN
	-- DECLARACION DE VARIABLES     
	DECLARE @varASEChrNumero	VARCHAR(25)  
	DECLARE @entTASChrCodigo	VARCHAR(25)  
	DECLARE @entASEChrFecha	VARCHAR(25)  

	-- INICIALIZACION DE LAS VARIABLES
	SET @varASEChrNumero = '' 
	SET @entTASChrCodigo = @entTASChrCodigoTEMP 
	SET @entASEChrFecha = @entASEChrFechaTEMP  
 
	-- EJECUTAR
		SELECT	
		@varASEChrNumero = T.PREFIJO +  			
		REPLICATE('0',CASE WHEN ((4-LEN(T.NUMERO))<0) THEN 0 ELSE (4-LEN(T.NUMERO)) END) + 			T.NUMERO 	
		FROM(	 		
			SELECT @entTASChrCodigo+CONVERT(VARCHAR,YEAR(@entASEChrFecha))+RIGHT(MONTH(@entASEChrFecha)+100,2)+'-' AS PREFIJO, 			
			CONVERT(VARCHAR, CASE WHEN MAX(SUBSTRING(ASI_NUMERO,CHARINDEX('-',ASI_NUMERO)+1,4)) IS NULL THEN 1 ELSE MAX(SUBSTRING(ASI_NUMERO,CHARINDEX('-',ASI_NUMERO)+1,4)) + 1 END) AS NUMERO 		
			FROM dbo.con_asientos 		
			WHERE ASI_NUMERO LIKE @entTASChrCodigo+CONVERT(VARCHAR,YEAR(@entASEChrFecha))+RIGHT(MONTH(@entASEChrFecha)+100,2)+'-%'		
			) AS T  	
	
	-- RESULTADO QUE DEVUELVE
	RETURN @varASEChrNumero
END

